* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://muralsyourway.vtexassets.com/arquivos/ids/240981/Football-Stadium-Wallpaper-Mural.jpg);
    background-size: cover;
}



.grid-div {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    column-gap: 0px;
    justify-content: center;
    justify-content: center;
}

.delete-button,
.details-button,
.back-button {
    text-align: center;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;

}


/* 
#newnew-player-form{
  display: flex;
} */

header {
    padding: 1em;
    display: flex;
    align-items: center;
    align-items: end;
    justify-content: space-evenly;
    background-color: black;
    color: orange;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: xx-large;
}



.dog,
.single-player-info {
    /* background-color: #E44D2E; */
    /* display: flex; */
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    text-align: center;
    /* background-color: white; */
}

#all-players-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.player-card {
    width: 20vw;
    padding: 8px;
    margin: 8px;
    background-color: #85CB33;

}

.player-card img {
    width: 100%;
}

.single-player-info {
    width: 40vw;
    background-color: #85CB33;
    margin-top: 15px;
    /* color: orange; */
}

.single-player-info img {
    width: 100%;
}

form {
    display: grid;
    color: #3F612D;
    ;
    border: 5px solid black;
    background-color: #85CB33;
    text-align: center;
    font-size: x-large;
    padding: 10px;
    text-align: center;
}

/* form input{
  width: 45vw;
  text-align: center;
} */

.content-container {
    display: grid;
    /* align-items: center; */
    justify-content: center;
}

title {
    color: orange;
}